@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer components {
  .editorial-grid {
    display: grid;
    grid-template-columns: 180px 1px 1fr;
  }
  @media (max-width: 768px) {
    .editorial-grid {
      grid-template-columns: 1fr;
    }
    .editorial-line {
      display: none;
    }
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
